<div class="affix" data-spy="affix">
    <br>
    <label for="chapter-selector">Select a chapter</label><br>
    <select class="selectpicker" id="chapter-selector">
        <optgroup label="Common Package">
            <option value="/packages/common" {{ page.contentsMenu == 'common/base-menu' ? 'selected' }}>The Base class</option>
            <option value="/packages/common/inspector" {{ page.contentsMenu == 'common/inspector' ? 'selected' }}>Inspecting classes and objects</option>
            <option value="/packages/common/annotations" {{ page.contentsMenu == 'common/annotations' ? 'selected' }}>Annotations</option>
            <option value="/packages/common/custom-annotations" {{ page.contentsMenu == 'common/custom-annotations' ? 'selected' }}>Custom annotations</option>
            <option value="/packages/common/utilities" {{ page.contentsMenu == 'common/utilities-menu' ? 'selected' }}>Utilities</option>
            <option value="/packages/common/enumerations" {{ page.contentsMenu == 'common/enumerations-menu' ? 'selected' }}>Enumerations</option>
        </optgroup>

        <optgroup label="Configuration Package">
            <option value="/packages/configuration" {{ page.contentsMenu == 'configuration/base-menu' ? 'selected' }}>Working with configuration files</option>

        </optgroup>

        <optgroup label="Database Package">
            <option value="/packages/database" {{ page.contentsMenu == 'database/adapter' ? 'selected' }}>Database adapter</option>
            <option value="/packages/database/sql" {{ page.contentsMenu == 'database/sql' ? 'selected' }}>Creating queries</option>
            <option value="/packages/database/crud" {{ page.contentsMenu == 'database/crud' ? 'selected' }}>Insert, update and delete</option>
            <option value="/packages/database/ddl" {{ page.contentsMenu == 'database/ddl' ? 'selected' }}>DDL statements</option>
            <option value="/packages/database/schema" {{ page.contentsMenu == 'database/schema' ? 'selected' }}>Schema creation</option>

        </optgroup>


    </select>
    {% if page.contentsMenu %}
    <hr>
    <strong>Table of contents</strong>
    <div id="contents-menu-container">
        {% include page.contentsMenu %}
    </div>
    {% endif %}
    <hr>
    <img src="https://lh6.ggpht.com/C-6e26E1LydXhyDCkOe1EXmb3BQ2T1IkA2AhJ-9MO-FDuWc0nyGfJI19iPP3HX9cljXFJ1Bz=w230" style="width: 230px">
</div>