<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="{{ site.url }}/images/logo-small.png">
            </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ page.activeMenu == 'home' ? 'active' }}"><a href="{{ site.url }}/">Home</a></li>
                <li class="{{ page.activeMenu == 'getting-started' ? 'active' }}"><a href="{{ site.url }}/getting-started">Getting started</a></li>
                <li class="{{ page.activeMenu == 'documentation' ? 'active' }}"><a href="{{ site.url }}/packages/common">Documentation</a></li>
                <li><a href="{{ site.url }}/api/namespace-Slick.html">API</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
